h1,
p,
span {
  font-family: SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  color: #424242;
}

span {
  font-size: 48px;
  font-weight: 700;
  font-style: bold;
}
.hideBtn {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url(backgroundimg.png);
  overflow: hidden;
}

.hypothecBtn {
  width: 300px;
  height: 75px;
  border-radius: 20px;
  background-color: #ab5f5f;
  font-size: 40px;
  font-style: bold;
  font-family: SBSansDisplay, OpenSans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: #fff;
}

.hypothecBtn:hover {
  background-color: rgb(45, 45, 45);
}

.main {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.hypothecHead {
  width: 40%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hypothecH1 {
  font-size: 64px;
  color: #360606;
  text-align: center;
  font-style: bold;
}

.hypothecWrapper {
  display: flex;
  flex-direction: column;
  height: 300vh;
}

.wrapperHeight {
  height: 100vh;
}

.hypothecRange,
.hypothecInfo {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-top: 25%;
  margin-left: 20%;
  transition: 2s;
}

.hypothecMargin {
  margin-top: -97vh;
}

.hypothecSelect {
  margin-bottom: 40px;
}

input {
  width: 100%;
  height: 42px;
  background-color: #aeaeae;
  margin: none;
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  color: #424242;
  border: none;
  padding: 5px;
}

.payInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.infoSelect {
  width: 46%;
  background-color: rgba(255, 248, 248, 0.6);
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  overflow: hidden;
}

/*мобильная версия*/
@media (max-width: 1280px) {
  .hypothecRange,
  .hypothecInfo {
    width: 400px;
  }

  .infoSelect {
    margin: 5px;
  }
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }

  .hypothecHead {
    width: 30%;
    margin-left: 0;
    margin-top: 20%;
  }

  .hidden {
    display: none;
  }

  .hideBtn {
    display: block;
    margin: 20px auto;
  }

  .hypothecWrapper {
    height: 100vh;
    width: 300vw;
  }

  .wrapperHeight {
    width: 100vw;
    overflow: hidden;
  }

  .hypothecRange,
  .hypothecInfo {
    width: 90%;
    margin: auto;
  }

  .hypothecRange {
    margin-left: 0;
  }
}
